/* ---- VARIABLE ------- */
body {
  background: url("../img/other-assets/background-destination-desktop.jpg");
  background-attachment: fixed;
  color: white;
}

h1 {
  margin: 20px 15%;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px;
}
@media screen and (max-width: 700px) {
  h1 {
    margin: 20px 10%;
    font-size: 20px;
  }
}
h1 span {
  margin: 5px;
  font-weight: bold;
  opacity: 0.6;
}

h3 {
  text-transform: uppercase;
  font-family: "Bellefair", "Barlow Semi Condensed", sans-serif;
  font-size: 42px;
  margin: 0 15% 20px 15%;
}
@media screen and (max-width: 700px) {
  h3 {
    margin: 0 10%;
    font-size: 26px;
  }
}

main h4 {
  font-size: 26px;
  margin-bottom: 20px;
}

section {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 3%;
  width: auto;
  margin: 40px 5%;
}
section form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
@media screen and (max-width: 850px) {
  section form {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 40px;
  }
}
section form div {
  display: flex;
  flex-direction: column;
}
section form label {
  margin-bottom: 10px;
}
@media screen and (max-width: 750px) {
  section form label {
    font-size: 14px;
  }
}
section form .basique-information-conteneur input {
  border: unset;
  background: none;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  height: 30px;
  color: white;
  font-size: 14px;
  padding: 4px;
  width: 100%;
}
section form .basique-information-conteneur select {
  appearance: none;
  background: none;
  border: unset;
  border-radius: unset;
  padding: 10px 0;
  color: white;
  font-size: 14px;
  border-bottom: 2px solid white;
}
@media screen and (max-width: 850px) {
  section form .basique-information-conteneur {
    grid-area: 1/1/2/2;
  }
}
section form .message-conteneur textarea {
  appearance: none;
  height: 100%;
  border: unset;
  border-left: 2px solid rgba(255, 255, 255, 0.7);
  background: none;
  color: white;
  font-size: 14px;
  padding: 4px;
}
@media screen and (max-width: 850px) {
  section form .message-conteneur {
    grid-area: 2/1/3/2;
  }
}
section form .send-btn {
  grid-area: 2/1/3/3;
  justify-self: center;
  display: block;
  padding: 10px 20px;
  width: fit-content;
  appearance: none;
  font-size: 13px;
}
@media screen and (max-width: 850px) {
  section form .send-btn {
    grid-area: 3/1/4/2;
  }
}

.map-conteneur {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 850px) {
  .map-conteneur {
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr 400px;
  }
}
.map-conteneur__header {
  grid-area: 1/1/2/3;
  margin-bottom: 10px;
}
.map-conteneur__header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
}
.map-conteneur__header ul li {
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0);
}
.map-conteneur__header ul li:hover {
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 20px;
  transition: 0.3s;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .map-conteneur__header {
    grid-area: 1/1/2/2;
  }
}
.map-conteneur__informations-pratique {
  grid-area: 2/1/3/2;
  font-size: 16px;
}
.map-conteneur__informations-pratique p {
  margin: 10px 0;
}
.map-conteneur__informations-pratique p span:nth-child(1) {
  font-weight: 600;
}
@media screen and (max-width: 850px) {
  .map-conteneur__informations-pratique {
    grid-area: 2/1/3/2;
  }
}
.map-conteneur__map {
  grid-area: 2/2/3/3;
  border: 20px;
  overflow: hidden;
}
@media screen and (max-width: 850px) {
  .map-conteneur__map {
    grid-area: 3/1/4/2;
  }
}

.selectionne {
  border: 2px solid white;
  background: white;
  color: #2c2d33;
  border-radius: 25px;
  transition: 0.3s;
  text-align: center;
  font-weight: 500;
}
.selectionne:hover {
  background: white;
  color: #2c2d33;
}
.selectionne:active {
  background: #b3b3b3;
}

#map {
  width: 100%;
  height: 400px;
}

/*# sourceMappingURL=contact.css.map */
