footer {
  display: flex;
  flex-direction: column;
  margin: 50px 7vw;
  padding: 50px 3vw;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
footer .footer-partie-haute {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
@media screen and (max-width: 750px) {
  footer .footer-partie-haute {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
  }
}
footer .footer-partie-haute a {
  color: white;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (max-width: 750px) {
  footer ul:nth-child(-n+3) {
    align-items: center;
  }
}
@media screen and (max-width: 750px) {
  footer ul:nth-child(4) {
    grid-area: 2/1/3/4;
    justify-content: center;
    margin: 0 10%;
  }
}
footer h4 {
  opacity: 0.75;
  font-weight: unset;
  text-transform: uppercase;
}
footer form {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 750px) {
  footer form {
    flex-wrap: wrap;
  }
}
footer form input {
  background: unset;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 20px;
  width: 250px;
  color: white;
}
footer form input::placeholder {
  color: white;
  font-weight: 500;
}
footer form button {
  min-width: 115px;
}
footer .footer-partie-basse > div {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  footer .footer-partie-basse > div {
    flex-direction: column;
    align-items: center;
  }
}
footer .footer-partie-basse .reseaux-sociaux {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
footer .footer-partie-basse .reseaux-sociaux ul {
  display: flex;
  flex-direction: row;
}
footer .footer-partie-basse::before {
  content: "";
  display: block;
  height: 1px;
  width: 90%;
  background: rgba(255, 255, 255, 0.12);
  margin: 20px auto;
}
footer .footer-partie-basse a {
  transition: 0.3s;
  color: white;
}
footer .footer-partie-basse a:hover .fa-instagram {
  color: #6f1d95;
}
footer .footer-partie-basse a:hover .fa-linkedin {
  color: #1d2795;
}
footer .footer-partie-basse a:hover .fa-youtube {
  color: #a52b2b;
}