@import "../utils/mixins";
@import "../utils/variables";
/* ------- STYLE INDEX ---------- */

body{
    background: url("../img/belle-voie-lactee-dans-ciel-noct.jpg"), black ;
    background-size: 100vw;
    color: $mainColor;
    font-family: $font;
    background-attachment: fixed;
}

#introduction{
    display: flex;
    margin: 80px;
    flex-direction: row;
    @include perso(1050px){
        flex-direction: column;
        align-items: center;
        margin: 4%;
    }
    .contenu{
        width: 60%;
        @include perso(1050px){
            width: 90%;
        }
        @include perso(750px){
            width: 100%;
            margin: 30px;
        }
        div{
            display: flex;
            align-items: center;
            height: 120px;
            gap: 30px;
            @include perso(800px){
                flex-direction: column-reverse;
                align-items: start;
                height: unset;
                margin:0 5%;
                gap: 10px;
            }
            h1{
                font-size: 42px;
                @include paysage-mobile{
                    font-size: 34px;
                }
                text-transform: uppercase;
            }
        }
        p{
            margin: 60px 40px;
            line-height: 30px;
            @include perso(800px){
                margin: 20px 5%;
            }
            @include paysage-mobile{
                font-size: 14px;
                line-height: 20px;
            }
        }
        .logo{
            height:100%;
            @include perso(800px){
                height: 80px;
            }
            @include paysage-mobile{
                height: 60px;
            }
        }
    }
    .btn-big-conteneur{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: 50px;
        width: 40%;
        @include perso(1050px){
            width: 90%;
            height: 300px;
            margin: unset;
        }
    }
}
iframe{
    width: 70vw;
    border-radius: 20px;
    height: calc(70vw/1.77); 
    margin: 0 15%;
    box-shadow: #4b4a4a 0 0 200px;
    @include paysage-mobile{
        width: 90vw;
        height: calc(90vw/1.77); 
        margin: 50px 5%;
    }
}

#campus{
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 100px 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include paysage-mobile{
        margin: 0 5%;
        padding: 40px 5% 20px 5%;
    }
    p{
        grid-area: 1 / 2 / 2 / 4;
    }
    .illustration{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3%;
    }
    figure{
        width: 30%;
        @include perso(850px){
            width: 280px;
        }
        @include perso(750px){
            width: 100%;
            margin: 10px 0;
        }
        div{
            border-radius: 10px;    
            width: 100%;
            overflow: hidden;
            border: 1px solid rgba(255, 255, 255, 0.25);
            &:hover{
                +figcaption{
                    opacity: 1;
                    &::before{
                        opacity: 1;
                        transform: translateX(112px);
                    }
                }
            }
        }
        img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            transition: .2s;
            transform: scale(1.01);
            &:hover{
                transform: scale(1.1);
                
            }
        }
    }
    figcaption{
        display: flex;
        opacity: .7;
        margin: 5px 0;
        transition: .3s;
        &::before{
            transition: .3s;
            margin: 0 3px;
            content: '';
            display: block;
            width: 3px;
            height: 20px;
            background: $mainColor;
            opacity: .7;
        }
    }
    .information{
        display: flex;
        margin: 0 40px 40px 40px;
        @include perso(850px){
            flex-direction: column;
            align-items: start;
            margin: 0 5% 40px 5%;
        }
        h2{
            font-size: 32px;
            text-transform: uppercase;
            margin-bottom: 10px;
            @include paysage-mobile{
                font-size: 30px;
            }
        }
        p{
            margin: 0 0 0 40px;
            @include perso(850px){
                margin: 0;
            }
            @include paysage-mobile{
                font-size: 15px;
            }
        }
    }
    >a{
        margin: 30px;
        padding: 10px 4vw;
    }
}

.menu-defilant{
    h2{
        margin: 40px;
        text-transform: uppercase;
        font-size: 32px;
    }
    margin: 40px;
    width: auto;
    @include paysage-mobile{
        padding: 5%;
    }
    &__card-conteneur{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1%;
        @include perso(1250px){
            flex-direction: column;
            gap: 20px;
        }
        &__card{
            box-shadow: 22px 21px 288px -73px rgba(0, 0,0,0.75) inset;
            border-radius: 15px;
            color: $mainColor;
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-size: 100% !important;
            background-position: center;
            transition: .5s;
            @include paysage-mobile{
                padding: 10%;
            }
            .numbers{
                display: flex;
                align-items: center;
                justify-content: space-around;
                color: rgba(255, 255, 255, 0.75);
                font-size: 24px;
                font-weight: bold;
                &::after{
                    content: '';
                    display: block;
                    height: 2px;
                    width: 80%;
                    background: rgba(255, 255, 255, 0.75);
                }
            }
            h3{
                text-transform: uppercase;
                font-size: 22px;
                @include paysage-mobile{
                    font-size: 25px;
                }
            }
            p{
                font-weight: 300;
                line-height: 18px;
                @include paysage-mobile{
                    display: none;
                }
            }
        }
    }
    .card-devellope{
        width: calc((100vw - 80px) / 3);
        height: calc((100vw - 80px) / 3);
        @include perso(1250px){
            width: calc((100vw - 80px) / 2);
        height: calc((100vw - 80px) / 2);
        }
        @include perso(850px){
            width: calc((100vw - 80px) / 1);
        height: calc((100vw - 80px) / 1);
        }
        justify-content: space-between;
        >div{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
    .card-petite{
        div{
            display: none;
        }
        width: calc((100vw - 80px) / 4);
        height: calc((100vw - 80px) / 4);
        @include perso(1250px){
            width: calc((100vw - 80px) / 3);
        height: calc((100vw - 80px) / 3);
        }
        @include perso(850px){
            width: calc((100vw - 80px) / 1.3);
        height: calc((100vw - 80px) / 1.3);
        }
        justify-content: end;
    }
}

#card-1-index{
    background: url("../img/campus/salle-chimie-1.jpeg");
}

#card-2-index{
    background: url("../img/crew/team-prof.jpeg");
}

#card-3-index{
    background: url("../img/campus/stand-de-tir.jpeg");
}

/* -------FIN STYLE INDEX ---------- */
