@import "../utils/mixins";
@import "../utils/variables";

/* -------- RESET CSS ---------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Barlow Semi Condensed", sans-serif;
}

.inactif, .menu-actif{
    display: none !important;
}

h1.nom-page{
    margin: 20px 15%;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 28px;
    @include paysage-mobile{
        margin: 20px 10%;
        font-size: 20px;
    }
    span{
        margin: 5px;
        font-weight: bold;
        opacity: .6;
    }
}

address{
    font-style: unset;
}