/* ---- VARIABLE ------- */

$mainColor: white;
$secondaireColor: rgb(20, 20, 21);
$backgroundColor: rgb(20, 20, 21);
$backgroundColor2 : #344965 ; 
$font : 'Barlow Semi Condensed', sans-serif;
$Bellefair : 'Bellefair','Barlow Semi Condensed', sans-serif;