/* ---- VARIABLE ------- */

$mainColor: rgb(246, 246, 246);
$secondaireColor: rgb(20, 20, 21);
$backgroundColor: rgb(20, 20, 21);
$font : 'Barlow Semi Condensed', sans-serif;
$Bellefair : 'Bellefair','Barlow Semi Condensed', sans-serif;

:root{
    --main-bg-color: #000;
}